@use '../helper/_variables' as *
@use '../helper/_mixin' as *
@use '../layout/_layout' as *

@media only screen and ( max-width:  1200px)
  .wrapper
    max-width: 1100px

@media only screen and ( max-width:  1100px)
  .wrapper
    max-width: 1000px

@media only screen and ( max-width:  1055px)
  .wrapper
    max-width: 900px

@media only screen and ( max-width: 900px)
  .wrapper
    max-width: 800px

@media only screen and ( max-width:  800px)
  .wrapper
    max-width: 600px

@media only screen and ( max-width:  600px)
  .wrapper
    max-width: 500px

@media only screen and ( max-width:  500px)
  header
    .wrapper
      padding: 0

      .logo
        height: 40px
        max-width: 300px

        img
          @include image()
          object-fit: contain

      button
        padding: .3rem .7rem
        border-radius: 4px
        background-color: #141414
        color: $light
        font-size: .8rem
        cursor: pointer

  .checked-checkout-page
    .wrapper
      padding: 0
      .event-title
        font-size: 1.2rem

      .item
        padding: 1rem
        border-radius: .6rem

        .name
          font-size: 1.2rem
          margin-bottom: .5rem

        ul
          margin-bottom: 1.2rem

          li
            font-size: .8rem
            margin-bottom: .3rem

        button
          padding: .6rem
          font-size: .8rem

          &::after
            height: 1.4rem
            width: 1.4rem

      .available-meal
        margin: 1rem 0 0

        h3
          font-size: 1.1rem

        .button-list
          margin-top: .5rem
          gap: .4rem

          button
            margin-bottom: .5rem
            padding: .4rem .8rem
            gap: .4rem
            font-size: .8rem
